<!-- ======= Header ======= -->
<header id="header" class="header-inner-pages">

  <div id="topbar">
    <div class="container">
      <div class="social-links">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="index.html" class="scrollto"><span>Моб.Веб</span></a></h1>
      <!-- <a href="index.html" class="scrollto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="nav-item <% if(activeLink === 'index') {%>active<%}%>">
          <a class="nav-link" href="/main">Главная</a>
        </li>
        <li class="nav-item <% if(activeLink === 'news') {%>active<%}%>">
          <a class="nav-link" href="/news">Новости</a>
        </li>
        <% if(user.isAdmin) { %>
        <li class="nav-item <% if(activeLink === 'admin') {%>active<%}%>">
            <a class="nav-link" href="/main/admin">Панель администратора</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Выйти</a>
        </li>
      </ul>
    </nav><!-- .main-nav -->

  </div>
</header><!-- #header -->