<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i>Регистрация</h1>
        <%- include ("./partials/messages.ejs") %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="login">Логин</label>
            <input
              type="text"
              id="login"
              name="login"
              class="form-control"
              placeholder="Введите логин"
            />
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Введите пароль"
            />
          </div>
          <div class="form-group">
            <label for="password">Повторите пароль</label>
            <input
              type="password"
              id="password2"
              name="passwordRepeat"
              class="form-control"
              placeholder="Повторите пароль"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Зарегестрироваться</button>
        </form>
        <p class="lead mt-4">
          Уже есть аккаунт? <a href="/users/login">Авторизоваться</a>
        </p>
      </div>
    </div>
  </div>